
.page-header {
  margin: auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}
#login-container {
  width: 20%;
  margin-top: 2rem;
  button {
    width: 100%;
  }
}

.main {
  .tree{
    background-color: #cecece;
    border-radius: 5px;
    li {
      cursor: pointer;
    }
  }
  .node {
    background-color: #e7e7e7;
    border-radius: 5px;
  }
  .button-container {
    background-color: #e7e7e7;
    border-radius: 5px;
    button {
      margin: 0.5rem;
      border: 1px solid gray;
      border-radius: 10px;
      &:hover {
        background-color: #cecece;
      }
      &#remove-btn {
        background-color: #ff8282;
        &:hover {
          background-color: #fd4242;
        }
      }
    }
  }
}

#active {
  background-color: #664d03;
}