
.page-header {
  margin: 0.5rem auto auto;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}
#login-container {
  width: 20%;
  margin-top: 2rem;
  button {
    width: 100%;
  }
}

.main {
  .tree{
    background-color: #cecece;
    border-radius: 5px;
    ul {
      padding-left: 1rem;
    }
    li {
      cursor: pointer;
      list-style: none;
    }
  }
  .node {
    background-color: #e7e7e7;
    border-radius: 5px;
  }
  .button-container {
    background-color: #e7e7e7;
    border-radius: 5px;
    button {
      margin: 0.5rem;
      border: 1px solid gray;
      border-radius: 10px;
      &:hover {
        background-color: #cecece;
      }
      &#remove-btn {
        background-color: #ff8282;
        &:hover {
          background-color: #fd4242;
        }
      }
    }
  }
}


.tree-node {
  text-decoration: none;
  color: black;
  &#active {
    //background-color: rgba(152, 207, 255, 0.5);
    border-radius: 100%;
    padding: 3px;
    text-shadow: 2px 2px 4px black;
  }
}

.old-container, .new-container {
  background-color: #e7e7e7;
  border-radius: 5px;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
}

#button-row {
  padding: 0 2px;
}